// Table borders
$datatb-border: 2px solid;
$datatb-bd-radius: 2px;

$dtb-row-border: 2px solid;
$dtb-row-bd-radius: 2px;

$dtb-cell-bd-width: 1px;
$dtb-cell-hover-border: 2px solid;
$dtb-cell-hover-bd-radius: 1px;

$dtb-hovercell-border: 2px solid;