// App colors
$highlight: rgb(197, 145, 0);

// Table colors
$datatb-bg: gainsboro;
$datatb-border: black;

$dtb-row-border: gray;

$dtb-cell-bg: white;
$dtb-cell-border: gray;

$dtb-cell-hover-bg: rgb(255, 220, 123);
$dtb-cell-hover-border: $highlight;

$dtb-hovercell-border: $dtb-cell-border;



