// App colors
$highlight: rgb(197, 145, 0);

// Table colors
$cell-bg: white;
$table-bg: gainsboro;

$cell-border: gray;
$table-border: black;
$hovercell-border: $highlight;

$cell-select-bg: rgb(255, 220, 123);
