@use '../colors';

.datatb-container {
    background-color: colors.$table-bg;
    border: 2px solid colors.$table-border;
    border-radius: 2px;
    padding: 1.2%;
    max-width: 40rem;
}

.datatb {
    display: flex;
    flex-direction: column;
}

.datatb-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;

    background-color: colors.$cell-border;
    border: 2px solid colors.$cell-border;
}

.datatb-cell, .datatb-hovercell {
    background-color: colors.$cell-bg;
}


.datatb-cell {
    box-sizing: border-box;
    width: calc(96%/6);

    margin: 0 0.5px;

    padding: 0.7% 1%;
    text-align: center;
    white-space: nowrap;

    z-index: 0;

    position: relative;
}

.datatb-cell:first-child {

}
.datatb-cell:last-child {
    width: 4%;

}

.datatb-cell:hover {
    z-index: 2;
    background-color: colors.$cell-select-bg;
}

.datatb-data {
    display: block;
    overflow: hidden;
}

.datatb-hovercell {

    border: 2px solid colors.$hovercell-border;

    padding: 6px 8px;

    position: absolute;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 1;
}
