@use '../colors';
@use '../border';


.datatb-container {

    max-width: 40rem;

    padding: 1.2%;

    background-color: colors.$datatb-bg;
    border: border.$datatb-border colors.$datatb-border;
    border-radius: border.$datatb-bd-radius;
}

.datatb {
    display: flex;
    flex-direction: column;
}

.datatb-row {

    display: flex;
    flex-direction: row;

    margin-top: 0.5rem;

    background-color: colors.$dtb-cell-border;
    border: border.$dtb-row-border colors.$dtb-row-border;
    border-radius: border.$dtb-row-bd-radius;
}

.datatb-cell {

    width: calc(96%/6);
    box-sizing: border-box;

    position: relative;
    z-index: 0;

    text-align: center;
    white-space: nowrap;

    margin: 0 (border.$dtb-cell-bd-width/2);
    padding: 0.7% 1%;

    background-color: colors.$dtb-cell-bg;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
        width: 4%;
    }

    &:hover {
        z-index: 2;
        background-color: colors.$dtb-cell-hover-bg;
        
        &::after {
            content: '';
            pointer-events: none;
        
            width: calc(100% + 2px);
            height: calc(100% + 4px);
            box-sizing: border-box;
        
            position: absolute;
            top: -2px;
            left: -1px;
        
            border: border.$dtb-cell-hover-border colors.$dtb-cell-hover-border;
            border-radius: border.$dtb-cell-hover-bd-radius;
        }
    }
}

.datatb-data {
    display: block;
    overflow: hidden;
}

.datatb-hovercell {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
    padding: 6px 8px;
    
    border: border.$dtb-hovercell-border colors.$dtb-hovercell-border;
    background-color: colors.$dtb-cell-bg;

    transform: translate(-50%, -50%) scale(1.2);
}
